.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
  height: 36px;
}

.bar {
  width: 4px;
  border-radius: 2px 2px 0 0;
  transform-origin: bottom;
  transition: opacity 0.3s ease;
}

.bar.inactive {
  height: 20%;
  opacity: 0.3;
}

.bar.active {
  animation: waveBar ease-in-out alternate infinite;
}
